.toggleBtn {
  background: transparent;
  border: 1px solid var(--fg);
  color: var(--fg);
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background .2s, color .2s;
  /* padding-right: 24px ; */
}
.toggleBtn:hover { background: var(--fg); color: var(--bg); }
