:root {
  --bg-color: #ffffff;
  --text-color: #222222;
  --border-color: #cccccc;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease;
  background-image: url('frontend/public/lightmode_pg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

body.dark {
  background-image: url('frontend/public/darkmode_pg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #121212;
  color: #eee;
}


body, html, #root {
  height: 100vh;
  width: 100%;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}
